<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hjbz.nxxm.module.login.dao.LoginMapper">

	<!-- 根据手机号查找用户-->
	<select id="findUserByPhone" resultType="com.hjbz.nxxm.module.login.entity.UserInfo" parameterType="java.lang.String">
		select
			id,
			username,
			pwd password,
			phone,
			age,
			sex,
			email,
			address,
			create_time createTime
		from h_user_info
		where phone = #{phone}
    </select>



</mapper>