<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script type="text/javascript" src="js/jquery-2.2.4.js"></script>
</head>
<body>
    <div>
        <div>
            <div>
                <div><span>手机:</span><input type="text"></div>
                <div><span>密码:</span><input type="password"></div>
            </div>
            <div>
                <div><button type="button" onclick="login()">登录</button></div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    function login(){
        alert("进入登录的js方法");
        $.ajax({
            url: 'www.baidu.com',
            type: 'GET',
            success:function (o) {
                alert('成功了');
            },
            error:function (o) {
                alert('错误');
            }
        });
    }

</script>
</body>
</html>